<h2>マイページ</h2>

<h4>登録情報</h4>
<%= form_with model: @customer, url: new_admin_session_path do |f| %>
  <table>
  <table border="1">
    <tr>
      <td>氏名</td>
      <td>セル２</td>
    </tr>
    <tr>
      <td>カナ</td>
      <td>セル４</td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td>セル４</td>
    </tr>
    <tr>
      <td>住所</td>
      <td>セル４</td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td>セル４</td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td>セル４</td>
    </tr>
  </table>
  
<% end %>

<h4>配送先</h4>

<h4>注文履歴</h4>

