<h2>注文情報確認</h2>

  <body>
    <table border="1" width="600">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      
      <thead>
        <tr>
          <th>送料</th>
          <td><%= @order.postage %></td>
         </tr>
        <tr>
          <th>商品合計</th>
          <td><%= (@order.total_payment - @order.shipping_cost).to_s(:delimited, delimiter: ',') %></td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td><%= (@order.total_payment + @order.shipping_cost).to_s(:delimited, delimiter: ',') %></td>
          <th></th>
        </tr>
      </thead>
    </table>
  </body>